<h1>New task</h1>

<%= form_with model: @task do |form| %>
   <div>
       <%= form.label :completed %><br>
       <%= form.check_box :completed %>
       <%= @task.errors.full_messages_for(:completed) if @task.errors.present?%>
   </div>

   <div>
       <%= form.label :creator %><br>
       <%= form.text_field :creator %>
       <%= @task.errors.full_messages_for(:creator) %>
   </div>

   <div>
       <%= form.label :description %><br>
       <%= form.text_field :description %>
       <%= @task.errors.full_messages_for(:description) %>
   </div>

   <div>
       <%= form.label :name %><br>
       <%= form.text_field :name %>
       <%= @task.errors.full_messages_for(:name) %>
   </div>

      <div>
       <%= form.label :performer %><br>
       <%= form.text_field :performer %>
       <%= @task.errors.full_messages_for(:performer) %>
   </div>

   <div>
       <%= form.label :status %><br>
       <%= form.text_field :status %>
       <%= @task.errors.full_messages_for(:status) %>
   </div>

   <div>
       <%= form.submit %><br>

   </div>

<% end %>

# == Schema Information
#
# Table name: tasks
#
#  id          :integer          not null, primary key
#  completed   :boolean
#  creator     :string
#  description :text
#  name        :string
#  performer   :string
#  status      :string
#  created_at  :datetime         not null
#  updated_at  :datetime         not null
#