<h1><%= @task.name %></h1>



    <p><%= @task.description   %></p>
    <small><%=  "#{@task.created_at}   #{@task.name}" %></small>
    <hr>


       <p><%= link_to 'Edit', edit_task_path(@task) %></p>
       <p><%= link_to 'Back', root_path %></p>
       <p><%= link_to 'Delete', task_path(@task), method: :delete, data: {confirm:  'are you sure?'} %></p>
    <hr>

edit_task_path